.goida {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 30px;
    justify-content: center;
    align-items: center;
}

.layout {
    display: flex;
    width: 380px;
    height: 230px;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
    box-shadow: 0 0 15px rgba(14, 14, 14, 0.3);
    background-color: rgb(79, 161, 255);
    border-radius: 8px;

}

.layout:hover {
    scale: 1.02;
    cursor: pointer;
}

.page {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
}