.pagelayout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-bottom: 30px;
}

.page {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
}

.layout {
    display: flex;
    width: 380px;
    height: 230px;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 0 15px rgba(14, 14, 14, 0.3);
    padding: 10px;
    border-radius: 8px;
    background-color: rgb(79, 161, 255);
}

.layout:hover {
    cursor: pointer;
}